@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --background: #f6f5f4;
  --surface: #cccccc;
  --text: #333333;
  --primary: rgb(75, 159, 255);
  --secondary: rgb(79, 120, 255);
  --accent: rgb(66, 122, 83);
}

[data-theme="dark"] {
  --background: #f6f5f4;
  --surface: #cccccc;
  --text: #333333;
  --primary: rgb(66, 122, 83);
  --secondary: rgb(43, 138, 19);
  --accent: rgb(59, 110, 68);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
